{% extends 'base.html.twig' %}

{% block title %}Paul Casiraghi | Developer Junior
{% endblock %}

{% block body %}
    <div class="home">
        <div class="introduction">
            <div class="balayage"></div>
            <svg class="svg" height="96.691" viewbox="0 0 975.952 96.691" width="975.952">
                <path class="line" d="M78.028,86.069V124H70.16V30.867h31.727q14.52,0,22.931,7.42t8.411,20.4q0,13.113-8.092,20.245T101.7,86.069Zm0-6.652h23.859q11.45,0,17.462-5.446t6.013-15.183q0-9.673-5.981-15.407T102.4,37.52H78.028ZM192.269,97.838H149.989L140.394,124h-8.251l35.245-93.133h7.484L210.115,124h-8.187Zm-39.85-6.652h37.355L171.1,40.462ZM286.873,30.867V94.448a32.2,32.2,0,0,1-4.158,16.375,27.245,27.245,0,0,1-11.546,10.714,37.628,37.628,0,0,1-17.111,3.742q-14.712,0-23.571-8.028t-9.179-22.228V30.867h7.8V93.873q0,11.77,6.716,18.262t18.23,6.492q11.514,0,18.2-6.524t6.684-18.166V30.867Zm29.872,86.48h45.991V124H308.813V30.867h7.932ZM475.634,94.96q-1.6,14.712-10.522,22.516t-23.763,7.8a32.85,32.85,0,0,1-18.326-5.181,33.784,33.784,0,0,1-12.313-14.68A52.3,52.3,0,0,1,406.3,83.7V71.613a52.774,52.774,0,0,1,4.35-22A33.452,33.452,0,0,1,423.15,34.8a34.1,34.1,0,0,1,18.774-5.213q14.968,0,23.635,8.06t10.074,22.324H467.7Q464.76,36.24,441.924,36.24q-12.665,0-20.181,9.474T414.227,71.9V83.291q0,16.131,7.324,25.733t19.8,9.6q12.345,0,18.614-5.917t7.74-17.75Zm69.4,2.878H502.755L493.16,124h-8.251l35.245-93.133h7.484L562.882,124h-8.187Zm-39.85-6.652h37.355L523.863,40.462ZM629.277,101.1q0-7.74-5.437-12.249T603.947,80.28q-14.456-4.062-21.108-8.859-9.467-6.78-9.467-17.782,0-10.682,8.8-17.366t22.484-6.684a37.294,37.294,0,0,1,16.6,3.582A27.163,27.163,0,0,1,632.6,43.148a26.211,26.211,0,0,1,4.03,14.264H628.7q0-9.56-6.524-15.366T604.651,36.24q-10.682,0-17.015,4.773A14.893,14.893,0,0,0,581.3,53.474,14.1,14.1,0,0,0,587,65.07q5.693,4.485,18.23,7.912t19,7.106a27.077,27.077,0,0,1,9.723,8.8,22.005,22.005,0,0,1,3.262,12.089,21.051,21.051,0,0,1-8.8,17.654q-8.8,6.652-23.187,6.652a45.451,45.451,0,0,1-18.07-3.518,27.6,27.6,0,0,1-12.473-9.851,25.43,25.43,0,0,1-4.254-14.52H578.3q0,9.851,7.356,15.543t19.573,5.693q10.874,0,17.462-4.8A15,15,0,0,0,629.277,101.1ZM663.754,124h-7.868V30.867h7.868Zm60.063-38.827H696.76V124h-7.932V30.867h30.255q14.9,0,23.283,7.22t8.379,20.189a25.208,25.208,0,0,1-5.245,15.78,26.821,26.821,0,0,1-14.072,9.456l23.283,39.655V124h-8.379ZM696.76,78.521h24.115q9.915,0,15.927-5.638a19.114,19.114,0,0,0,6.013-14.607q0-9.866-6.269-15.311t-17.59-5.446h-22.2ZM822.451,97.838H780.17L770.575,124h-8.251l35.245-93.133h7.484L840.3,124H832.11ZM782.6,91.186h37.355L801.279,40.462Zm137.908,21.748q-4.094,5.821-12.825,9.083a55.493,55.493,0,0,1-19.541,3.262,36.292,36.292,0,0,1-19.445-5.245,34.911,34.911,0,0,1-13.177-14.84,50.28,50.28,0,0,1-4.733-22V71.421q0-19.381,9.787-30.607t26.29-11.226q14.392,0,23.155,7.324t10.426,20.181h-7.868q-1.727-10.266-8.347-15.559t-17.3-5.293q-13.049,0-20.661,9.282T858.655,71.7v11.01a46,46,0,0,0,3.614,18.788,28.661,28.661,0,0,0,10.362,12.643,27.393,27.393,0,0,0,15.511,4.481,43.291,43.291,0,0,0,17.462-3.2,18.81,18.81,0,0,0,7.036-4.925V86.453h-25.01V79.8h32.878ZM1011.851,124h-7.932V79.353H950.7V124h-7.868V30.867H950.7V72.7h53.219V30.867h7.932Zm33.262,0h-7.868V30.867h7.868Z" data-name="Tracé 1" fill="none" id="Tracé_1" stroke-width="1" stroke="#000" transform="translate(-69.66 -29.088)"/>
            </svg>
        </div>
        <div class="main">
            <div class="main-ctn-img">
                <img src="{{ asset('images/home.jpg') }}" alt="">
            </div>
            <div class="main-ctn-bigTitle">
                <h2>
                    <span class="h2-thin">Hello my name is Paul Casiraghi and I'm
                    </span>
                    <div class="ctn-keyword">
                        <div class="keyword dev">
                            <span style="margin-right:25px">A
                            </span>
                            <span>D</span>
                            <span>E</span>
                            <span>V</span>
                            <span>E</span>
                            <span>L</span>
                            <span>O</span>
                            <span>P</span>
                            <span>P</span>
                            <span>E</span>
                            <span>R</span>
                        </div>
                        <div class="keyword free">
                            <span>A</span>
                            <span>V</span>
                            <span>A</span>
                            <span>I</span>
                            <span>L</span>
                            <span>A</span>
                            <span>B</span>
                            <span>L</span>
                            <span>E</span>
                        </div>
                        <div class="keyword creation">
                            <span>C</span>
                            <span>R</span>
                            <span>E</span>
                            <span>A</span>
                            <span>T</span>
                            <span>I</span>
                            <span>V</span>
                            <span>E</span>
                        </div>
                        <div class="keyword motive">
                            <span>M</span>
                            <span>O</span>
                            <span>T</span>
                            <span>I</span>
                            <span>V</span>
                            <span>A</span>
                            <span>T</span>
                            <span>E</span>
                            <span>D</span>
                        </div>
                    </div>
                </div>
                <div class="main-ctn-burger">
                    <div class="burger-1">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="burger-2">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="main-ctn-nav">
                    <div class="nav-ctn-menu">
                        <ul class="nav-menu">
                            <li>
                                <a class="menu-link menu-link-1" href="">HOME</a>
                            </li>
                            <li>
                                <a class="menu-link menu-link-2" href="">ABOUT</a>
                            </li>
                            <li>
                                <a class="menu-link menu-link-3" href="">EXPERIENCES</a>
                            </li>
                            <li>
                                <a class="menu-link menu-link-4" href="">PORTFOLIO</a>
                            </li>
                            <li>
                                <a class="menu-link menu-link-5" href="">CONTACT</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <a class="main-ctn-dropdown">
                    <svg class="ctn-arrow-circle">
                        <circle class="circle" cx="50" cy="50" r="35"/>
                        <path class="arrow" d="M65,48.9L50.6,67L36,49.1l2.5-3.2l10.2,12.6L48.6,31l3.6,0l0.1,27.5l10.1-12.7L65,48.9z" id="path"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="section-2"></div>
        <script></script>
    {% endblock %}
