{% extends 'base.html.twig' %}

{% block title %}Paul Casiraghi | Developer Junior{% endblock %}

{% block body %}
    <div class="home">
        <div class="introduction"></div>
        <div class="main">
            <div class="main-ctn-img">
                <img src="{{ asset('images/vague.jpg') }}" alt="">
            </div>
            <div class="main-ctn-bigTitle">
                <h2>
                    <span class="h2-thin">Hello my name is Paul Casiraghi and I'm a </span>
                    <span class="h2-bold">Web Developer</span>
            </div>
            <div class="main-block-burger">
                <div class="main-ctn-burger">
                    <div class="burger-1">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="burger-2">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="main-ctn-nav">
                <div class="nav-ctn-menu">
                    <ul class="nav-menu">
                        <li> <a class="menu-link menu-link-1" href="">HOME</a> </li>
                        <li> <a class="menu-link menu-link-2" href="">ABOUT</a> </li>
                        <li> <a class="menu-link menu-link-3" href="">EXPERIENCES</a> </li>
                        <li> <a class="menu-link menu-link-4" href="">PORTFOLIO</a> </li>
                        <li> <a class="menu-link menu-link-5" href="">CONTACT</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script>
    
    </script>
{% endblock %}
