{% extends 'base.html.twig' %}

{% block title %}Paul Casiraghi | Developer Junior
{% endblock %}
{% block body %}
<div class="ctn-send">
<H2>My contact form is not yet operational, you can contact me at this address paulcsrgh@gmail.com.</H2>
<a href="{{ path('home') }}" class="btn">Back to website</a>
</div>

{% endblock %}